/* Variables */
$white-color: #FDFDFB;
$dark-color: #111B05;
$secondary-color: #FEFDE8;
$secondary-color-2 : #f7b733;
$primary-color: #56ab2f;
$primary-color-2: #a8e063;
$secondary-color-3: #CAA878;
$secondary-color-4: #9D9E97;
$secondary-color-5: #F6FAE3;
$brown-color: #CAAA79;