.form {
    display: flex;
    &__input {
        border:none;
        background-color: $white-color;
        padding: 2.75rem 2.5rem;
        color: $secondary-color-4;
        margin-top: .3rem;
        margin-bottom: .3rem;
        outline:none;
    }

    &__name {
        margin-right:.2rem;
        border-top-left-radius: 10rem;
        border-bottom-left-radius: 10rem;
    }

    &__email {
        border-top-right-radius: 10rem;
        border-bottom-right-radius: 10rem;
    }
}