
/*Header*/
.header {
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6)), url("../../img/landingbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    @include site-padding;

    &__text {
        @include flex-column-center;
    }

    &__heading {
        color: $secondary-color;
        text-align:center;
        text-transform: uppercase;
    }

    &__heading--main {
        display: block;
        font-weight: 400;
        letter-spacing: 2.5rem;
    }

    &__heading--secondary {
        font-weight: 700;
        letter-spacing: 1rem;
    }
    
    &__showcases {
        @include flex-row-center;
        margin-top: -2rem;
        text-align:center;
    }

    &__showTitle {
        color: $secondary-color;
        text-align: center;
    }

    &__special {
        display: block;
        color: $primary-color-2;
    }

    &__showcase {
        padding: 2.5rem;
        border-radius: 3px;
        background:transparent;
        flex:0 0 280px;
        @include basic-transition-interaction;
        position: relative;
        z-index:0;
        &:hover {
            .header__number {
                color: $secondary-color;
            }

            .header__showIcon {
                color: $secondary-color;
            }
        }
    }

    &__showcase::after {
        content: '';
        position: absolute;
        top:100%;
        left:0;
        width:100%;
        height:2px;
        transition: width .5s;
        background:linear-gradient(to right, rgba($primary-color, 1), rgba($primary-color-2, 1));
        border-radius: 3px;
    }

    &__showcase:nth-child(2) {
        margin:0 10rem;
    }

    &__number {
        font-size: 3rem;
        color: $primary-color-2;
    }

    &__showtext {
        color: $white-color;
    }

    &__showIcon {
        font-size: 6rem;
        color: $primary-color-2;
    }
}





