.awards {
    text-align: center;

    &__icon {
        position: absolute;
        top: 0;
        left:50%;
        transform: translate(-50%, -50%);
        color:$secondary-color-3;
    }

    &__title--secondary {
        display: block;
        text-align: center;
    }

    &__instruction {
        color: $dark-color;
    }
}
