.carousel {
    width: 100%;
    z-index: 3000;

    &-cell {
        width: 300px;
        height: 300px;
        margin-right: 2.5rem;
        background: transparent;
        border-radius: 3px;
        counter-increment: gallery-cell;
        position: relative;
        overflow:hidden;

        &:before {
            background-color: $white-color;
            content: '';
            position: absolute;
            top: 60%;
            left: 50%;
            height: 40px;
            width: 80px;
            border-radius: 80px 80px 0 0;
            transform: translate(-50%, -50%);
        }
    }

    &-img {
        object-fit: cover;
        width: 300px;
        height: 200px;
        border-radius: 3px;
        border: 2px solid $white-color;
    }

    &-size {
        @include flex-column-center;
        position: absolute;
        top: 61%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 900;
    }

    &-meter {
        color: $dark-color;
    }

    &-line {
        height: 1px;
        width: 35px;
        background-color: $dark-color;
    }

    &-quadrat {
        color: $dark-color;
    }

    &-info {
        text-align: center;
    }

    &-secondary {
        display:block;
    }
}

.flickity-page-dots {
    display: none;
}

.flickity-prev-next-button.previous,
.flickity-prev-next-button.next {
    position: absolute;
    top: -62px;
    background: transparent;
    color:$white-color;
    font-family: inherit;
    font-size: 1.8rem;
    @include basic-transition-interaction;

    &:hover {
        background: transparent;
    }
}

.flickity-prev-next-button.previous {
    left:5px !important;

    &::before {
        font-family: "Font Awesome 5 Pro"; 
        font-weight: 900;
        content: "\f060";
        margin-right: 1rem;
    }

    &::after {
        content: 'Previous';
    }
}

.flickity-prev-next-button.next {
    right: 25px !important;
    &::before {
        content: 'Next';
    }

    &::after {
        font-family: "Font Awesome 5 Pro"; 
        font-weight: 900;
        content: "\f061";
        margin-left: 1rem;
    }
}

.flickity-button-icon {
    display: none;
}