
.trends {
    @include flex-row-space;
    width: 100%;
    align-items: baseline !important;

    &__info {
        width: 50%;
        margin-left: 10rem;
    }

    &__images {
        width: 50%;
        position: relative;
        margin-left: 10rem;
    }

    &__image {
        position: absolute;
        width: 365px;
        height: 236px;
        object-fit: cover;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.09), 
                0 2px 4px rgba(0,0,0,0.09), 
                0 4px 8px rgba(0,0,0,0.09), 
                0 8px 16px rgba(0,0,0,0.09),
                0 16px 32px rgba(0,0,0,0.09), 
                0 32px 64px rgba(0,0,0,0.09);
        @include basic-transition-interaction;
        outline-offset: 2rem;
        
        &:hover {
            z-index: 3000;
            transform: scale(1.05);
            outline: 2rem solid $brown-color;
            box-shadow: 0 1px 2px rgba(0,0,0,0.12), 
                0 2px 4px rgba(0,0,0,0.12), 
                0 4px 8px rgba(0,0,0,0.12), 
                0 8px 16px rgba(0,0,0,0.12),
                0 16px 32px rgba(0,0,0,0.12), 
                0 32px 64px rgba(0,0,0,0.12);
        }

        &--1 {
            top: -50px;
            z-index:1;
        }

        &--2 {
            z-index:3;
            left: 125px;
            top: 100px;
        }

        &--3 {
            top: 20px;
            left: 300px;
            z-index:2;
        }
    }
}