body {
    line-height: 1.7;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.heading {
    text-transform: uppercase;
    display:inline-block;
    text-align:center;

    &__primary {
        font-size: 5rem;
    }

    &__secondary {
        font-size: 4rem;
    }

    &__tertiary {
        font-size: 3rem;
    }

    &__quaternary {
        font-size: 2.5rem;
    }

    &__quinary {
        font-size: 2rem;
    }

    &__paragraph {
        font-size: 1.8rem;

        &--text {
            max-width: 100ch;
            text-align: center;
            text-shadow: 0 0 5px rgba(0,0,0,0.15);
        }

        &--textMiddle {
            max-width: 60ch;
            text-align: left;
            text-shadow: 0 0 5px rgba(0,0,0,0.15);
        }

        &--textSmall {
            max-width: 30ch;
        }
    }

    &__smallgraph {
        font-size: 1.5rem;
    }

    &__minigraph {
        font-size: 1.2rem;
    }

    &__white {
        color: $white-color;
    }

    &__black {
        color: $dark-color;
    }

    &__lightgreen {
        color: $primary-color-2;
    }

    &__doubleTitle {
        display:block;
        text-align:center;
    }

}

