.margin-medium {
    margin: 4rem 0;
}

.margin-medium-top {
    margin-top: 4rem;
}

.margin-medium-bottom {
    margin-bottom: 4rem;
}

.margin-medium-all {
    margin: 4rem;
}

.margin-medium-sides {
    margin: 0 4rem;
}

.margin-small-sides {
    margin: 0 2rem;
}

.margin-big-sides {
    margin: 0 6rem;
}

.margin-big-highs {
    margin: 6rem 0;
}

.margin-moderate {
    margin: 3rem 0;
}

.margin-small {
    margin: 2rem 0;
}

.margin-micro {
    margin: 1rem 0;
}

.margin-top-small {
    margin-top: 2rem;
}

.margin-bottom-small {
    margin-top: 2rem;
}
