.services-section {
    @include site-padding;
    background:linear-gradient(to right, rgba($primary-color, 1), rgba($primary-color-2, 1));
    text-align:center;
    position:relative;

    &:after {
        content: '';
        position: absolute;
        top: 110%;
        left:50%;
        height:125px;
        width:170px;
        border-radius: 170px 170px 0 0;
        background:$white-color;
        transform: translate(-50%, -50%)
    }
}

.awards-section {
    @include site-padding;
    @include flex-column-center;
    position:relative;
    background-color: $white-color;
}

.buildings-section {
    @include site-padding;
    @include flex-column-center;
    position:relative;
    background-color: $secondary-color-5;
    padding-bottom: 15rem !important;

    &:after {
        content: '';
        position: absolute;
        top: 108%;
        left:50%;
        height:270px;
        width:550px;
        border-radius: 550px 550px 0 0;
        background:$white-color;
        transform: translate(-50%, -50%)
    }
}

.trends-section {
    width: 100%;
    @include site-padding;
    @include flex-column-center;
    position:relative;
    background-color: $white-color;
}





